* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-white: #fff;
  --text-dark: #3d404f;
  --accent-yellow: #e9d758;
  --primary-color: #e56768;
  --lighter-primary: #da5f60e6;
  --border-light-grey: #ececee;
}

body {
  font-family: "Zen Maru Gothic", serif;
}

[class*="container"] {
  margin: auto;
}

h1,
h2 {
  font-weight: 900;
}

p {
  font-weight: 500;
}

.container-xl {
  width: 95%;
}

.container-lg {
  width: 70%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-weight: 600;
  font-family: "Zen Maru Gothic", serif;
  border: none;
  padding: 20px 40px;
  font-size: 1.3rem;
  border-radius: 40px;
}

.btn-accent {
  background-color: var(--accent-yellow);
  color: white;
}

.btn-white-primary {
  background-color: var(--text-white);
  color: var(--primary-color);
}
