* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-white: #fff;
  --bg-buttons: #454545;
  --text-dark: #3d404f;
  --text-light: #8b8b8a;
  --accent-yellow: #e9d758;
  --primary-color: #e56768;
  --lighter-primary: #da5f60e6;
  --border-light-grey: #ececee;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Maru Gothic", serif;
}

[class*="container"] {
  margin: auto;
}

h1,
h2 {
  font-weight: 900;
}

p {
  font-weight: 500;
}

.container-xl {
  width: 95%;
}

.container-lg {
  width: 70%;
  max-width: 1400px;
}

.container-md {
  width: 60%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-weight: 600;
  font-family: "Zen Maru Gothic", serif;
  border: none;
  padding: 20px 40px;
  font-size: 1.3rem;
  border-radius: 40px;
}

.btn-accent {
  background-color: var(--accent-yellow);
  color: white;
}

.btn-white-primary {
  background-color: var(--text-white);
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-white);
}

.upside-down {
  transform: rotateX(180deg);
}

.input-bar {
  position: relative;
  & button {
    position: absolute;
    right: -10px;
    padding: 1.45rem;
    border-radius: 50%;

    & i {
      display: block;
    }
  }

  & input {
    border: none;
    padding: 1.5rem;
    border-radius: 30px;
    font-size: 1rem;
  }
}
